button {
  display: block;
  width: 100%;
  padding: 8px 0;
  margin: 8px auto
}

p {
  border-bottom: 1px dashed #ddd
}

#pictureUrl {
  display: block;
  margin: 0 auto;
  width: 5px;
}

#accessToken, #utouId {
  display: block;
  overflow: auto
}
